.quick-view
  %h6
    Quick Summary
  .quick-money-project
    .quick-money-view
      $1000
    .quick-view-footer
      from
      %b
        12
      Projects
  .quick-box.with-margin-top
    %h6
      Project Info
    %ul
      %li
        %a
          Completed Projects
          %span.label.alert.right
            10
      %li
        %a
          Ongoing Projects
          %span.label.warning.right
            20
      %li
        %a
          Pending Project
          %span.label.info.right
            20
      %li
        %a
          Canceled Project
          %span.label.alert.right
            10
      %li
        %a
          Lost Project
          %span.label.alert.right
            20
  .quick-box
    %h6
      Edit Info
    %ul
      %li
        = link_to "Edit Profile",user_extras_add_user_info_path(:id=>current_user.id)
      %li
        = link_to "Change Password",edit_user_registration_path(:id => current_user.id)
      %li
        = link_to "Change Profile Image", user_extras_add_user_image_path(:id => current_user.id)