.dashboard-secondary
  .row
    .small-12.columns
      .secondary.custom-container
        .row
          .small-12.columns
            %ul.secondary-menu
              %li
                %a{:href=>"#"}
                  %span.fa.fa-dashboard
                  Dashboard
              %li
                %a{:href=>"#"}
                  %span.fa.fa-spinner.fa-spin
                  Pending Project
              %li
                %a{:href=>"#"}
                  %span.fa.fa-tasks
                  History
              %li
                %a{:href=>"#"}
                  %span.fa.fa-area-chart
                  My Status
