.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title Project History
        .result-table.margin-bottom-15
          %table
            %thead
              %tr
                %th
                  Project Id
                %th
                  Title
                %th
                  Status
                %th
                  Time Taken
                %th
                  Earned Money
                %th
                  Lost Money
            %tbody
              - if !@projects.empty?
                - (@projects).each_with_index do |project|
                  %tr
                    %td=project.id
                    %td=project.description.html_safe
                    %td
                      - if project.status.to_i == 1
                        Completed
                      - elsif project.status.to_i == 0
                        Ongoing
                      - elsif project.status.to_i == 2
                        Lost
                      - else
                        Lost
                    %td
                      = distance_of_time_in_words(project.created_at,project.completed_date)
                    %td
                      - if project.bids.where(:status => 1).count() > 0
                        $
                        - c_money = 0
                        - project.bids.where(:status => 1).each do |cost|
                          - c_money = c_money + cost.bid
                          = c_money
                      - else
                        $ 0
                    %td
                      - if project.bids.where(:status => 0).count() > 0
                        $
                        - c_money = 0
                        - project.bids.where(:status => 0).each do |cost|
                          - c_money = c_money + cost.bid
                          = c_money
                      - else
                        $ 0
              - else
                %tr
                  %td{:colspan=>6}
                    Project history is empty

