.small-12.columns
  .admin-dashboard
    %ul.admin-quick-list
      %li.small-12.medium-3.columns
        %section.admin-quick-box.quick-blue
          .admin-quick-main
            .admin-quick-note
              %p
                %b 18
                Project has been posted on
                %b last 30 days.
          .admin-quick-footer
            %h5
              120 Projects
              %span.fa.fa-rocket.pull-right
      %li.small-12.medium-3.columns
        %section.admin-quick-box.quick-green
          .admin-quick-main
            .admin-quick-note
              %p
                %b 22
                active users use this platform for freelance works
          .admin-quick-footer
            %h5
              22 Users
              %span.fa.fa-user.pull-right
      %li.small-12.medium-3.columns
        %section.admin-quick-box.quick-red
          .admin-quick-main
            .admin-quick-note
              %p
                So far
                %b $300
                transaction across platform
          .admin-quick-footer
            %h5
              Transaction History
              %span.fa.fa-money.pull-right
      %li.small-12.medium-3.columns
        %section.admin-quick-box.quick-violet
          .admin-quick-main
            .admin-quick-note
              %p
                Messages and Notifications from Users on
                Project
          .admin-quick-footer
            %h5
              Inbox/ Notifications
              %span.fa.fa-inbox.pull-right
    .clearfix
    .admin-quick-detailed-box
      .small-12.medium-3.large-3.columns
        .admin-admin-details
          %h5.admin-detail-head
            %span.fa.fa-group
            &nbsp;Admins
            %a.pull-right
              %span.fa.fa-arrow-circle-right
          .clearfix
          .admin-admin-detail-table
            %table.admin-table
              %tbody
                -(1..5).each do |index|
                  %tr
                    %td
                      %a.profile
                        %span.fa.fa-user
                    %td{width:"300"}
                      %a{href:"#"}
                        Sibin Xavier
      .small-12.medium-6.large-6.columns
        .admin-project-detail-table
          %h5.admin-detail-head
            %span.fa.fa-file
            &nbsp;Project
            %a.pull-right
              %span.fa.fa-arrow-circle-right
          %table.admin-table
            %tfoot
              %tr
                %th
                  Title
                %th
                  Budget
                %th
                  Creator
            %tbody
              -(1..7).each do |project|
                %tr
                  %td
                    %a{href:""} Title of the project
                  %td
                    Budget
                  %td
                    By Do
      .small-12.medium-3.large-3.columns
        .admin-latest-user
          .admin-each-user
            %header
              .profile-image
                .image
                  %img{src:"https://pbs.twimg.com/profile_images/1771648774/Sacca_profile_400x400.jpg"}
              .navigation
                .navigation-panel
                  %a.pull-left
                    %span.fa.fa-arrow-circle-left
                  %a.pull-right
                    %span.fa.fa-arrow-circle-right
            %section
              %h4.user-name.text-center
                Sibin Xavier
              .clearfix
              .user-info
                %p
                  @username
                %p
                  sibinx7@gmail.com
                %p.country
                  = ISO3166::Country['IN']
    .clearfix





