// Place all the styles related to the AdminDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body{
  display: table;
  width: 100%;
  height: 100%;
  background: #e5e9ec;
}
.off-canvas-wrap{
  display: table;
  height: 100%;
  width: 100%;
}
.main-section .admin-dashboard-wrapper{
  background: #e5e9ec;
  display: table;
  width: 100%;
  height: 100%;
  padding: 50px 30px
}
.main-section .admin-dashboard-wrapper .admin-quick-list{
  margin: 10px 0 20px;
  position: relative;
  padding: 0;
  display: table;
  li{
    list-style: none;
    display: block;
    margin-bottom: 25px;
  }
}
.main-section .admin-quick-box{
  min-height: 160px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  .admin-quick-main{
    height: 120px;
    display: table;
    .admin-quick-note{
      display: table-cell;
      vertical-align: middle;
      padding:15px;
      height:120px;
      color: #fff;
      text-shadow: 0 1px 0 #444;
      P{
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .admin-quick-footer{
    height: 40px;
    padding:12px 10px;
    h5{
      text-transform: uppercase;
      color: #fff;
      margin:0;
      font-size: 16px;
      font-weight: 600;
      text-shadow: 1px 0px 0 #555;
      span{
        margin-right: 5px;
        position: relative;
        vertical-align: middle;
        top: 3px;
      }
    }
  }
}
.main-section .admin-quick-box.quick-blue{
  background: #0090d9;
  border-color: darken(#0090d9,5%);
  .admin-quick-footer{
    @extend .admin-quick-footer;
    background: darken(#0090d9,5%);
  }
}
.main-section .admin-quick-box.quick-green{
  background: #0aa699;
  border-color: darken(#0aa699,5%);
  .admin-quick-footer{
    @extend .admin-quick-footer;
    background: darken(#0aa699,5%);
  }
}
.main-section .admin-quick-box.quick-red{
  background: #dd2e2b;
  border-color: darken(#dd2e2b,5%);
  .admin-quick-footer{
    @extend .admin-quick-footer;
    background: darken(#dd2e2b,5%);
  }
}
.main-section .admin-quick-box.quick-violet{
  background: #755a92;
  border-color: darken(#755a92,5%);
  .admin-quick-footer{
    @extend .admin-quick-footer;
    background: darken(#755a92,5%);
  }
}
/** Admin dashboard detailed details **/
.admin-admin-details{
  background: #fff;
  border:1px solid #eee;
}
.admin-detail-head{
  background: #f3f3f3;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  color: #666;
  a {
    color: #999;
    text-decoration: none;
    &:hover {
      color: #777;
    }
  }
}
.admin-table{
  width:100%;
  border: none;
  th{
    padding: 10px 15px;
  }
  td{
    font-size: 15px;
    padding: 10px 15px;
    a.profile{
      width: 40px;
      height: 40px;
      background: #f5f5f5;
      border-radius: 50%;
      border:1px solid #fff;
      box-shadow: 0 0 0 1px #eee;
      display: block;
      text-align: center;
      span{
        font-size: 24px;
        color:#ddd;
        margin-top:7px;
        text-align: center;
      }
    }
    a{
      color: #666;
    }
  }
}
.admin-latest-user{
  display: table;
  width:100%;
  height: auto;
  .admin-each-user{
    header{
      display: table;
      width: 100%;
      height: 210px;
      background: #e9386a;
      .profile-image{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        width:100%;
        .image{
          width: 140px;
          height: 140px;
          border-radius: 50%;
          border:2px solid #c11c4b;
          background: #f9f9f9;
          margin-left:auto;
          margin-right: auto;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
    }
    section{
      height: 150px;
      width: 100%;
      background: #fff;
      padding:10px 15px;
      h4,p{
        color: #777;
      }
      p{
        margin:0;
        padding-bottom: 5px;
      }
      .country{
        text-transform: uppercase;
      }
    }
  }
}
.navigation{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  .navigation-panel{
    color: rgba(0,0,0,0.2);
    padding: 5px 25px;
    a{
      color: rgba(0,0,0,0.2);
      &:hover{
        color: rgba(0,0,0,0.6);
      }
    }
  }
}
.admin-dashboard{
  .admin-project-wrapper{
    background:#f7f7f7;
    min-height: 200px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    header.project-title{
      padding:10px 15px;
      background:#eee;
      border-bottom:1px solid #ddd;
    }
  }
}
.admin-projects{
  margin:15px;
  background: #eee;
  border: 1px solid #ccc;
}
.admin-projects .admin-projects-title{
  background: #e7e7e7;
  border-bottom:1px solid #c1c1c1;
  padding:15px;
 h5{
   margin-top:0;
   margin-bottom:0px;
 }
}
.admin-projects .admin-projects-desc-budget{
  min-height: 120px;
  background: #f9f9f9;
  padding-top: 15px;
  height: auto;
}
.admin-projects-desc-budget .description{
  font-size:14px;
  color: #999;
  line-height: normal;
  p{
    font-size: inherit;
    margin-bottom:5px;
  }
}
.admin-projects-desc-budget .budget{
  border:1px solid #ddd;
  color:#666;
  h6{
    margin:0;
    color: inherit;
    padding:5px 10px;
    background: #eee;
  }
  .budget-money{
    padding:10px;
    color: #777;
  }
}
.admin-projects-skills{
  padding:10px;
  border-top:1px solid #eee;
  background: #f4f4f4;
  color: #888;
  display: table;
  width:100%;
  ul{
    display: table;
    width:100%;
    padding:0;
    margin:0 0 10px 0;
    li{
      display: table;
      padding:3px 6px;
      font-size:12px;
      border-radius: 6px;
      background: #999;
      color:#eee;
      float: left;
      margin-right:5px;
    }
  }
}
.admin-project-author-info{
  padding:10px;
  font-size:14px;
  color:#999;
  p{
    margin-bottom: 0;
    font-size:inherit;
    color:inherit;
  }
}
footer .pagination-wrapper{
  ul.pagination{
    li{

    }
    li.current{
      a{
        background:#666;
      }
    }
  }
}
.admin-project-subnav{
  margin-top: 0.3rem
}
