/** Common content which used in most of the place, through out website **/
.quick-box{
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  h1,h2,h3,h4,h5,h6{
    border-color:#333;
    margin-top:0
  }
  ul{
    padding:0;
    margin:0;
    li{
      display: block;
      list-style:none;
      padding:0;
      margin:0;
      a{
        padding:5px 0;
        color:#777;
        display: block;
      }
      a:hover,a:active,a:focus{
        color:#333;
      }
    }
    li.with-no-a{
      padding:5px 0;
    }
  }
}
.quick-box.with-margin-top{
  margin-top:15px;
}
/** Dashboard style, common to many pages **/
.dashboard-tab-wrapper{
  h1.db-title,h2.db-title,h3.db-title,h4.db-title,h5.db-title,h6.db-title{
    margin-top:-9px;
    border-bottom:2px solid #999;
  }
}
.dashboard-wrapper{
  h1.p-title,h2.p-title,h3.p-title,h4.p-title,h5.p-title{
    padding-bottom:2px;
    border-bottom:2px solid #777;
  }
  .p-description{
    display: block;
    margin-top:10px;

  }
}
/** Some common margins **/
.padding-0{
  padding:0
}
.margin-0{
  margin:0
}
.block{
  display: block;
  clear: both;
}
.margin-top-15{
  margin-top:15px;
}
.margin-bottom-15{
  margin-bottom:15px;
}
.font-bold{
  font-weight: bold;
}
/** Paginations **/
ul.custom-pagination{
  li.current a,
  li.current button{
    background: #DE6258;
  }
}
/** Tag it customization **/
.custom-tagit{
  .tagit.ui-widget.ui-widget-content.ui-corner-all{
      border-radius:0;
      background:#fff;
  }
  .ui-widget input,.ui-widget select,.ui-widget textarea{
    font-size:14px;
  }
  input[type="text"]{
    height:auto;
  }
  ul.tagit li.tagit-choice{
    border-radius:0;
    border-color:#ccc;
    background:#eee;
  }
  ul.tagit li.tagit-choice a.tagit-close{
    right:.2em;
    span.text-icon {
      color: #fff;
      background: darken(#DE6258, 25%);
      border-radius: 50%;
      padding: 1px 3px;
    }
  }
  ul.tagit li.tagit-choice-editable{
    padding-right:24px;
  }
  ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove{
    border-color:#aaa;
    background:#e7e7e7;
  }
}
.custom-tagit.add-skills{
  ul{
    min-height: 37px;
  }
}
.search-form{
  .custom-submit-btn,.range-slider.round .range-slider-handle{
    background:lighten(#de6258,5%);
  }
  .custom-submit-btn:hover,
  .custom-submit-btn:focus,
  .custom-submit-btn:active,
  .range-slider.round .range-slider-handle:hover,
  .range-slider.round .range-slider-handle:active,
  .range-slider.round .range-slider-handle:focus{
    background:darken(#de6258,10%);
  }
}

/** Backend errors form rails **/
ul.backend-errors{
  margin:0 0 20px 0;
  padding:0 0 10px 0;
  display: block;
  clear: both;
  border-bottom:2px solid darken(#de6258,20%);
  li{
    list-style:none;
    display: block;
    padding:5px 10px;
    background:#de6258;
    color:#fff;
    margin-bottom:5px;
  }
}
.ul-skills{
  margin:0;
  padding:0;
  li{
    border:1px solid #de6258;
    padding:2px;
    border-radius: 3px;
    list-style:none;
    font-size:11px;
    margin-bottom:5px;
    display: inline-table;
  }
}
.my-skills{
  padding-bottom:10px;
  border-bottom:2px solid #aaa;
  margin-bottom:15px;
}
ul.my-skill-box{
  margin:0;
  display: table;
  width:100%;
  border-radius:6px;
  border:1px solid lighten(#de6258,10%);
  background:lighten(#de6258,35%);
  padding:10px;
  li{
    list-style:none;
    display: inline-table;
    padding:4px 6px;
    background:lighten(#de6258,5%);
    border:1px solid lighten(#de6258,1%);
    margin:5px;
    border-radius:4px;
    color:#fff;
    font-size:12px;
    text-shadow: 1px 1px 1px #333;
  }
}
/* Custom pagination */
ul.pagination.custom-pagination{
  display: table;
  margin-left:auto;
  margin-right:auto;
  li.current{
    a{
      background: #de6258;
    }
  }
}
/** Project in project page **/
.project-info{
  display: block;
  margin:0;
  padding:0;
  li{
    list-style:none;
    display: inline-table;
    color:#777;
    a,b{
      color:#555;
      font-weight: bold;
    }
    a:hover,a:active,a:focus{
      color:#111;
    }
  }
}
/** Profile page - biddings **/
.p-bids{
  .p-bids-inner{
    .each-bid{
      display: table;
      width:100%;
      background:#f1f1f1;
      padding:10px;
      box-shadow:0 1px 1px 0 #aaa;
      .inner-each-bid{
        display: block;
        margin-left:100px;
        .profile-image{
          display: inline-block;
          width:100px;
          height:100px;
          margin-left:-100px;
          float: left;
          background:#fafafa;
          border-radius: 6px;
          img{
            width:100px;
            height:100px;
            padding:4px;
            border-radius: 6px;
            border:1px solid #eee;
          }
        }
        .profile-info-wrapper{
          display: block;
          padding:5px;
          margin-right:160px;
          .profile-info {
            display: inline-block;
            padding: 0 5px;
            .profile-title{
              a {
                font-weight: bold;
                color: #555;
                font-size: 21px;
              }
              a:hover {
                text-decoration: underline;
              }
            }
            small{
              a{
                font-size:12px;
                padding:5px 10px;
              }
            }
          }
          .profile-bid{
            display: inline-block;
            float: right;
            width:160px;
            margin-right:-160px;
            .profile-money{
              padding:15px;
              font-size:25px;
              display: table;
              small{
                color:#999;
                clear: both;
                display: block;
              }
            }

          }
        }

      }
    }
    .bid-header{
      background: #de6258;
      box-shadow:0 1px 0px 1px #de6258;
      color:#fff;
      .inner-each-bid {
        display: block;
        margin-left: 100px;
        .profile-image.header{
          display: inline-block;
          width: auto;
          margin-left: -100px;
          float: left;
          height: auto;
          background: transparent;
          padding:5px;
        }
        .profile-info-wrapper.header{
          display: block;
          padding: 5px;
          margin-right: 160px;
          .profile-info {
            display: inline-block;
          }
          .profile-bid.header{
            display: inline-block;
            float: right;
            width: 160px;
            margin-right: -160px;
            a{
              color:#fff;
            }
          }
        }
      }
    }
  }
}