/** Common content which used in most of the place, through out website **/
.quick-box{
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  h1,h2,h3,h4,h5,h6{
    border-color:#333;
    margin-top:0
  }
  ul{
    padding:0;
    margin:0;
    li{
      display: block;
      list-style:none;
      padding:0;
      margin:0;
      a{
        padding:5px 0;
        color:#777;
        display: block;
      }
      a:hover,a:active,a:focus{
        color:#333;
      }
    }
    li.with-no-a{
      padding:5px 0;
    }
  }
}
.quick-box.with-margin-top{
  margin-top:15px;
}
/** Dashboard style, common to many pages **/
.dashboard-tab-wrapper{
  h1.db-title,h2.db-title,h3.db-title,h4.db-title,h5.db-title,h6.db-title{
    margin-top:-9px;
    border-bottom:2px solid #999;
  }
}
/** Some common margins **/
.padding-0{
  padding:0
}
.margin-0{
  margin:0
}
.block{
  display: block;
  clear: both;
}
.margin-top-15{
  margin-top:15px;
}
.margin-bottom-15{
  margin-bottom:15px;
}
.font-bold{
  font-weight: bold;
}
/** Paginations **/
ul.custom-pagination{
  li.current a,
  li.current button{
    background: #DE6258;
  }
}
/** Tag it customization **/
.custom-tagit{
  .tagit.ui-widget.ui-widget-content.ui-corner-all{
      border-radius:0;
      background:#fff;
  }
  .ui-widget input,.ui-widget select,.ui-widget textarea{
    font-size:14px;
  }
  input[type="text"]{
    height:auto;
  }
  ul.tagit li.tagit-choice{
    border-radius:0;
    border-color:#ccc;
    background:#eee;
  }
  ul.tagit li.tagit-choice a.tagit-close{
    right:.2em;
    span.text-icon {
      color: #fff;
      background: darken(#DE6258, 25%);
      border-radius: 50%;
      padding: 1px 3px;
    }
  }
  ul.tagit li.tagit-choice-editable{
    padding-right:24px;
  }
  ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove{
    border-color:#aaa;
    background:#e7e7e7;
  }
}
.search-form{
  .custom-submit-btn,.range-slider.round .range-slider-handle{
    background:lighten(#de6258,5%);
  }
  .custom-submit-btn:hover,
  .custom-submit-btn:focus,
  .custom-submit-btn:active,
  .range-slider.round .range-slider-handle:hover,
  .range-slider.round .range-slider-handle:active,
  .range-slider.round .range-slider-handle:focus{
    background:darken(#de6258,10%);
  }
}

/** Backend errors form rails **/
ul.backend-errors{
  margin:0 0 20px 0;
  padding:0 0 10px 0;
  display: block;
  clear: both;
  border-bottom:2px solid darken(#de6258,20%);
  li{
    list-style:none;
    display: block;
    padding:5px 10px;
    background:#de6258;
    color:#fff;
    margin-bottom:5px;
  }
}