// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Secondary main menu
.dashboard-secondary{
  background:#de6258;
  .secondary{
    padding:0;
    ul{
      padding:0;
      margin:0;
      li{
        display: inline-block;
        list-style:none;
        a{
          display:block;
          padding:10px;
          color:#fff;
          font-size:18px;
        }
      }
      li.active a,li a:hover,li a:focus{
        background:darken(#de6258,15%)
      }
    }
  }
}
/* Main dashboard */
.dashboard-wrapper{
  background:#f9f9f9;
  padding:40px 0 60px;
  .quick-view{
    h6{
      padding-bottom:3px;
      border-bottom:2px solid #999;
    }
    .quick-money-project{
      background:lighten(#de6258,20%);
      color:#fff;
      .quick-money-view{
        background:darken(#de6258,5%);
        font-size:48px;
        text-align: center;
        padding:50px 0px;
        min-height:140px;
      }
      >.quick-view-footer{
        background:#333;
        color:darken(#de6258,10%);
        padding:10px;
        font-size:16px;
        text-align: center;
        font-weight: bold;
        text-shadow:0 1px 0 lighten(#de6258,10%);
        text-transform: uppercase;
        b{
          font-weight: bolder;
        }
      }
    }
  }
}
/** Dashboard special but can be used in other place **/
.notification-box{
  display: block;
  margin-top:30px;
  .inner-notification{
    margin-left:100px;
    display: block;
    position: relative;
    .each-notifications{
      display: table;
      padding:0 10px 10px;
      border-bottom:1px solid darken(#eee,5%);
      width:100%;
      margin-bottom:20px;
      h6{
        margin-top:0;
        font-weight: bold;
        color:#333;
        font-size:1.1em;
      }
    }
    .each-notifications:last-child{
      border-bottom-color:transparent;
    }
  }
  .inner-notification:after{
    content:'';
    position: absolute;
    width:2px;
    height:100%;
    top:0;
    bottom:0;
    background:#777;
    left:-20px;
  }
  .date-box{
    display: block;
    position:absolute;
    width:65px;
    height:auto;
    background:#de6258;
    color:#fff;
    left:-100px;
    .day{
      position: relative;
      text-align:center;
      padding:15px 0;
      font-size:32px;
      color:inherit;
    }
    .month{
      background:darken(#de6258,20%);
      padding:3px 0px;
      font-size:12px;
      text-transform: uppercase;
      text-align:center;
    }
  }
}
/** Table use to show projects, search results **/
.result-table{
  width:100%;
  display: table;
  max-width: 100%;
  height: auto;
  table{
    width:100%;
  }
}
/** Jquery slider padding in range slider **/
.jquery-sliders{
  margin:0 10px 10px;
}

/** Show histories in history page **/
.history-wrapper{
  margin-top:50px;
  display: block;
  .history-box{
    border:1px solid #ddd;
    min-height: 150px;
    margin-bottom: 40px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 #ddd;
    padding:15px 25px;
    position: relative;
    h4{
      margin-top:20px;
    }
    .date-box{
      position: absolute;
      top:-20px;
      padding:10px 20px;
      background:#d53a2e;
      color:#fff;
      right:15px;
      font-size:12px;
      z-index:101;
    }
    .date-box:before{
      content:'';
      width:0;
      height:0;
      top:0;
      left:-20px;
      position: absolute;
      border-width:10px;
      border-style: solid;
      border-color:transparent darken(#d53a2e,5%) darken(#d53a2e,5%) transparent;
      z-index:99;
    }
  }
}
.negative-balance{
  margin-top: 5px;
  font-size: 9px;
  max-width: 320px;
  padding: 3px 2px;
}