// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Secondary main menu
.dashboard-secondary{
  background:#de6258;
  .secondary{
    padding:0;
    ul{
      padding:0;
      margin:0;
      li{
        display: inline-block;
        list-style:none;
        a{
          display:block;
          padding:10px;
          color:#fff;
          font-size:18px;
        }
      }
      li.active a,li a:hover,li a:focus{
        background:darken(#de6258,15%)
      }
    }
  }
}
/* Main dashboard */
.dashboard-wrapper{
  background:#f9f9f9;
  padding:40px 0 60px;
  .quick-view{
    h6{
      padding-bottom:3px;
      border-bottom:2px solid #999;
    }
    .quick-money-project{
      background:lighten(#de6258,20%);
      color:#fff;
      .quick-money-view{
        background:darken(#de6258,5%);
        font-size:48px;
        text-align: center;
        padding:50px 0px;
        min-height:140px;
      }
      >.quick-view-footer{
        background:#333;
        color:darken(#de6258,10%);
        padding:10px;
        font-size:16px;
        text-align: center;
        font-weight: bold;
        text-shadow:0 1px 0 lighten(#de6258,10%);
        text-transform: uppercase;
        b{
          font-weight: bolder;
        }
      }
    }
  }
}
