// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primaryColor : #d53a2e;
$primaryHeaderMenuLink : #a0a0a0;
$primaryHeaderMenuActive : #d53a2e;
$primaryBtnColor : #f55e25;
$secondaryBtnColor : #2e2e2e;


// Keyframes

@-webkit-keyframes  come_from_bottom{
  0% {bottom:20%;opacity:0}
  100% {bottom:70%;opacity: 1}
}
@keyframes  come_from_bottom{
  0% {bottom:20%;opacity:0}
  100% {bottom:70%;opacity: 1}
}

@-webkit-keyframes from_right_left {
  from {right:-500px;opacity: 0}
  to {right:150px;opacity: 1}
}
@keyframes from_right_left {
  from {right:-500px;opacity: 0}
  to {right:150px;opacity: 1}
}
html,body{
  margin:0;
  padding:0;
  height: 100%;
}
body{
  .home-wrapper{
    .sticky{
      position: relative;
      z-index: 2;
    }
    .contain-to-grid{
      background:#2e2e2e;
      position: relative;
      .my-top-bar{
        z-index:10;
        height:80px;
        background:#2e2e2e;
        color:#a0a0a0;
        display: table;
        .title-area{
          display: block;
          vertical-align: middle;
          height: 100%;
          position: relative;
          .name{
            height:80px;
            h1{
              height: 100%;
              display: table;
              a{
                height: 100%;
                display: table-cell;
                vertical-align: middle;
                font-size:34px;
                color:#f7f7f7;
              }
            }
          }
        }
        .top-bar-section{
          ul{
            height: 80px!important;
            background:transparent;
            li{
              display: inline-table;
              height: 100%;
              a{
                display: table-cell;
                vertical-align: middle;
                background:transparent;
                border-top:2px solid transparent;
                color:$primaryHeaderMenuLink;
                transition:all 0.1s linear 0.1s;
                font-size:14px;
                font-weight: 300;
                text-transform: uppercase;
                padding-right:10px;
                padding-left:10px;
              }
              a.active,a:hover,a:focus{
                border-color:$primaryColor;
                color:$primaryHeaderMenuActive;
              }
            }
          }
        }
      }
    }

  }
}
//when expand menu
.top-bar.expanded{
  .title-area{
    background:transparent;
  }
}
// Adjust container in foundation
.contain-to-grid{
  .my-top-bar{
    display: block;
    max-width:none;
  }
}
@media all and (min-width:1200px){
  .contain-to-grid{
    .my-top-bar{
      display: block;
      width:1170px;
    }
  }
}
@media all and (min-width:992px) and (max-width: 1199px){
  .contain-to-grid{
    .my-top-bar{
      display: block;
      width:970px;
    }
  }
}
@media all and (min-width:940px) and (max-width: 991px){
  .contain-to-grid{
    .my-top-bar{
      display: block;
      width:800px;
    }
  }
}
@media all and (max-width:939px){
  .contain-to-grid{
    .my-top-bar{
      display: block;
      width:100%;
      max-width: 100%;
      padding-left:15px;
      padding-right:15px;
      .top-bar-section{
        height: 0px;
        display: none;
        transition:all .2s linear .3s;
      }

    }
    .my-top-bar.top-bar.expanded{
      .top-bar-section{
        height: auto;
        display: block;
        ul{
          height: auto!important;
          li{
            display: block;
            width:100%;
            border:none;
            text-align: center;
            a{
              width:100%;
              height: auto;
              text-align: center;
              display: block;
              border:none;
            }
          }
          li:last-child{
            margin-bottom:10px;
          }
        }
      }
    }
  }
}
// Carousel
.home_slider{
  height: 100%;
  width:100%;
  top:0;
  left:0;
  bottom:0;
  z-index: 1;
  .each_items{
    height: 100%;
    width:100%;
    top:0;
    bottom:0;
    background-size: cover!important;
    background-repeat: no-repeat;
    h1.hd{
      color:#fff;
      bottom:70%;
      text-shadow: 0px 0px 3px #999;
      -webkit-animation: come_from_bottom 3s 0s;
      animation:come_from_bottom 3s 0s;
      position: absolute;
      right:10%;
    }
    p.p{
      color:#fff;
      font-size:16px;
      line-height: 22px;
      -webkit-animation: from_right_left 6s 0s;
      -o-animation: from_right_left 6s 0s;
      animation: from_right_left 6s 0s;
      width:500px;
      height: auto;
      position: absolute;
      top:200px;
      right:150px;
    }

  }
  .slidesjs-pagination{
    position: absolute;
    bottom:20px;
    z-index:1001;
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    left:0;
    right:0;
    li{
      display: inline-block;
      margin:3px;
      a{
        position: relative;
        display: block;
        height:10px;
        width:10px;
        text-indent: 999px;
        border-radius: 50%;
        background:lighten($primaryHeaderMenuActive,10%);
        overflow: hidden;
      }
      a:hover,a:focus,a:active{
        background: darken($primaryHeaderMenuActive,10%);
      }
    }
  }
  .slidesjs-navigation{
    position: absolute;
    top:50%;
    z-index:100;
    font-size:32px;
    i{
      padding:10px;
      color:$primaryHeaderMenuActive;
    }
  }
  .slidesjs-navigation.slidesjs-previous{
    left:10px;
  }
  .slidesjs-navigation.slidesjs-next{
    right:10px;
  }
}
// Featured
.features,.testimonials{
  background:#fff;
  padding:40px 0 50px;
  .title{
    color:#333;
    padding:0 35px 10px;
    border-bottom:2px solid #555;
    margin-bottom:15px;
    font-size:26px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    span{
      display: block;
      margin-bottom:10px;
      text-align:center;
      font-size:36px;
      font-weight: 400;
    }
  }
  .feature-wrapper{
    margin-top:40px;
    margin-right:-20px;
    margin-left:-20px;
    display: block;
    .each-feature{
      min-height: 15px;
      .inner-box{
        display: block;
        margin-left:58px;
        i.fa{
          display: block;
          float: left;
          width:48px;
          height:48px;
          margin-left:-58px;
          margin-right:10px;
          border-radius: 50%;
          border:2px solid $primaryHeaderMenuActive;
          color:$primaryHeaderMenuActive;
          text-align: center;
          line-height: 42px;
          font-size:18px;
          margin-top:5px;
          cursor: pointer;
          transition:all 0.3s ease-in-out 0.2s;
        }
        i:hover,i:focus,i:active{
          background:$primaryHeaderMenuActive;
          color:#fff;
        }
        h5{
          color:#555;
          margin-top:0;
          padding-left:5px;
        }
        p{
          color:#777;
          line-height: 19px;
          font-weight: 300;
          padding-left: 5px;
          font-size:14px;
        }
        a{
          color:$primaryHeaderMenuActive;
          text-decoration: none;
          padding-left:5px;
          font-size:14px;
        }
        a:hover,a:active,a:focus{
          color:darken($primaryHeaderMenuActive,10%)
        }
      }
    }
  }

}

// Browse
.browse{
  background:#333;
  padding:50px 0 60px;
  color:#fff;
  h1{
    color:#fff;
  }
  a.button{
    border:none;
    box-shadow:none;
    background:$primaryHeaderMenuActive!important;
    color:#fff;
    -webkit-transition: all 0.2s linear 0.3s;
    -moz-transition: all 0.2s linear 0.3s;
    -ms-transition: all 0.2s linear 0.3s;
    -o-transition: all 0.2s linear 0.3s;
    transition: all 0.2s linear 0.3s;
  }
  a.button:hover,a.button:focus,a.button:active{
    background: lighten($primaryHeaderMenuActive,20%);

  }
}
.testimonials{
  .testimonials-wrapper{
    display: block;
    margin-top:40px;
    margin-left:-20px;
    margin-right: -20px;
    .testimonials_content{
      display: block;
      .customer-feedback{
        display: block;
        margin:0 10px;
        .customer-says{
          border:1px solid #ddd;
          border-radius: 6px;
          padding:10px 15px;
          color:#aaa;
          line-height: 24px;
          font-style: italic;
          background:#fafafa;
          position: relative;
          i{
            font-size:24px;
            float: left;
            margin-right:5px;
            margin-bottom:0px;
            color:#999;
          }
          i.left_one{
            float: none;
            transform: rotate(180deg);
            margin-left: -3px;
          }
        }
        .customer-says:after{
          content:'';
          width:15px;
          height:15px;
          background: #fafafa;
          border-width:1px;
          border-style: solid;
          border-color:transparent #ddd #ddd transparent;
          transform:rotate(45deg);
          position: absolute;
          bottom:-8px;
          right:25px;
          z-index:101;
        }
        .customer-name{
          margin-top:10px;
          padding:10px 0 5px;
          a{
            color:lighten($primaryHeaderMenuActive,10%);
            font-size:16px;
            text-decoration: none;
          }
        }
      }

    }
  }
}
// Footer
.footer{
  padding:20px 0;
  background:#444;
  color:#fff;
  .about-box,.links-box,.contacts{
    padding:10px 12px;
    h5{
      color:#fff;
      position: relative;
    }
    h5:after{
      content:'';
      width:50%;
      height:2px;
      left:0;
      bottom:-5px;
      position: absolute;
      background: lighten($primaryHeaderMenuActive,10%);
    }
    p{
      margin-top:15px;
      font-size:14px;
      line-height: 22px;
      color:#aaa;
    }
  }
}
.custom-container{
  display: block;
  margin-left:-20px;
  margin-right: -20px;
}
.links-box{
  ul{
    display: block;
    li{
      list-style: none;padding:10px 0 0;
      font-size:15px;
      color:#999;
      a{
        text-decoration: none;
        color:inherit;
        text-transform: capitalize;
        transition:all 0.2s linear 0.3s;
      }
      a:hover,a:focus{
        outline:none;
        color:#f9f9f9;
        text-decoration: underline;
      }
    }
  }
}
// social media icons footer
.social-footer{
  padding:15px 0;
  background:lighten($primaryHeaderMenuActive,10%);
  color:#fff;
  .social-icons{
    ul{
      display: table;
      padding:0;
      margin:0 auto;
      li{
        display: inline-block;
        margin:5px 10px;
        a{
          display: block;
          border-radius: 4px;
          border:1px solid #f7f7f7;
          text-align: center;
          padding:5px 10px;
          width:40px;
          height:40px;
          font-size:18px;
          color:#fff;
          transition:all 0.3s linear 0.1s;
        }
        a:hover,a:active,a:focus{
          background:#fff;
          color:lighten($primaryHeaderMenuActive,0%);
        }
      }
    }
  }

}
.main-footer{
  padding:15px 0;
  background:#444;
  border-top:2px solid lighten($primaryHeaderMenuActive,30%);
  ul{
    display: block;
    margin:0;
    padding:0;
    li {
      list-style: none;
      font-size: 14px;
      a{
        margin-left:10px;
        color:#f1f1f1;
      }
      a:hover,a:focus,a:active{
        color:#999;
      }
    }
    li.copyright {
      color: #f4f4f4;
    }
  }
}

// About is page
.about_us{
  padding:50px 0 40px;
}