// Place all the styles related to the UserExtras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Here include styles for user information pages
.user-side-border {
  position: relative;
}
.user-side-border:after{
    content:'';
    position: absolute;
    top:0;
    right:-5px;
    bottom:0;
    width:1px;
    height:100%;
    background:#ccc;
}
.user-info-sidebar{
  display: block;
  padding:5px;
  position: relative;
  .user-image{
    display: block;
    overflow:hidden;
    img{
      width:100%;
      background:#f7f7f7;
    }
  }
  .user-upload-img{
    display: block;
    position: relative;
    margin-top:-2px;
    padding:5px 10px;
    background:#de6258;
    color:#fff;
    text-align: center;
    cursor: pointer;
    a{
      color:#fff;
    }
  }
  .user-edit-info{
    display: block;
    margin-top:10px;
    ul{
      display: block;
      padding:0;
      margin:0;
      li{
        list-style:none;
        display: block;
        margin:0 0 5px 0;
        a{
          color:#777;
          letter-spacing: 1px;
          display: block;
          padding:2px 5px;
          border-bottom:1px solid transparent;
        }
        a:hover,a:focus{
          text-decoration: none;
          color:#444;
          border-bottom:1px solid transparent;
        }
      }
    }
  }
}
.edit-info-section{
  display: block;

  padding-left:15px;
  min-height:200px;
  .user-header{
  }
  table.user-info-table{
    border:none;
    background: transparent;
    tbody{
      background: transparent;
    }
    tr,td{
      background: transparent;
      position: relative;
    }
    td:first-child:after{
      content:':';
      position: absolute;
      right:0;
      top:9px;
      z-index:101;
    }
  }
}
