.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        .row
          .small-12.medium-8.large-9.columns
            .dashboard-tab-wrapper
              %h3.p-title
                Latest feedbacks for your
              .rating-wrapper
                - @user_rating.each do |feedbacks|
                  .each-rating
                    .inner-rating
                      .rating-profile-and-rating
                        .profile-img
                          = image_tag feedbacks.user.profile_image.url
                        .rating
                          - (1..feedbacks.rating).each_with_index do |rate,index|
                            %span.fa.fa-star
                      .rating-description-info
                        .description
                          .inner-description
                            = feedbacks.description.html_safe
                        .pointer
                        .more-info
                          %a.has-tip.tip-top.right{href:"#","data-tooltip"=>true,title:"This Rating for Project '<b>#{feedbacks.project.title}</b>'".html_safe,"aria-haspopup"=>true}
                            %span.fa.fa-ellipsis-v

- content_for :extra_css do
  = stylesheet_link_tag 'user_ratings'