.dashboard-wrapper
  .row
    .small-12.columns
      .dashboard-inner.custom-container
        %h3.p-title
          Project Lost Report
        %p
          This Project has been marked as Lost, We have list some reasons. If you don't like this you can contact client by Email or
          other ways
