/ header
.custom-top-header
  .sticky
    .contain-to-grid
      %nav.top-bar.my-top-bar{:data => {:topbar=>"", :options=>""}, :role=>""}
        %ul.title-area
          %li.name
            %h1
              %a{:href=>"#"} HuntJob
          %li.toggle-topbar.menu-icon
            %a{:href=>""}
              %span
        %section.top-bar-section
          %ul.right
            %li.active
              %a{:href=>'#'}
                Home
            %li
              %a{:href=>'#'}
                About
            %li
              %a{:href=>'#'}
                Contact
            - if  not user_signed_in?
              %li.sign-in
                %a{:href=>"/users/sign_in"}
                  Sign In
            - else
              %li.sign-in
                %a{:href=>"/users/sign_out"}
                  Sign Out
/end header