// modal for sign in
.modal.fade#sign-in-modal{"tabindex"=>'-1',"role"=>"dialog",:aria=>{:labelledby=>"SignInModal",:hidden=>"true"}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type=>"button",:data=>{:dismiss=>"modal"},:aria=>{:label=>"close"}}
          %span{:aria=>{:hidden=>  'true'}} &times;