/ header
.sticky
  .contain-to-grid
    %nav.top-bar.my-top-bar{:data => {:topbar=>"", :options=>""}, :role=>""}
      %ul.title-area
        %li.name
          %h1
            %a{:href=>"#"} HuntJob
        %li.toggle-topbar.menu-icon
          %a{:href=>""}
            %span
      %section.top-bar-section
        %ul.right
          %li.active
            %a{:href=>'#'}
              Home
          %li.active
            %a{:href=>'#'}
              About
          %li.active
            %a{:href=>'#'}
              Contact
          %li.sign-in
            %a{"data-reveal-id"=>"sign-in-modal",:href=>"#"}
              Sign In
/end header