/ header
.custom-top-header
  .top-bar
    .top-bar-left
      %nav.top-bar.my-top-bar{:data => {:topbar=>"", :options=>""}, :role=>""}
        %ul.title-area
          %li.name
            %h1
              %a{:href=>"#"} HuntJob
          %li.toggle-topbar.menu-icon
            %a{:href=>""}
              %span
    .top-bar-right
      %section.top-bar-section
        %ul.right
          %li{class: ("active" if @page == "home")}
            = link_to "Home",home_index_url
          %li{class: ("active" if @page == "about")}
            = link_to "About", home_about_url
          %li{class: ("active" if @page == "contact")}
            = link_to "Contact", home_contact_url
          - if  not user_signed_in?
            %li.sign-in
              %a{:href=>"/users/sign_in"}
                Sign In
          - else
            %li.sign-in
              %a{:href=>"/users/sign_out"}
                Sign Out
/end header