// modal for sign in
#sign-in-modal.reveal-modal.small{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
  %h2#modalTitle Sign In
  .form-box
    = form_tag() do
      = text_field_tag(:q)
      = password_field_tag(:q)
      = submit_tag "Sign In", :class=>"button primary small ripple alert right"
  %p
    Don't have account,
    %a{:href=>'#'}Register
    Here
  %a.close-reveal-modal{"aria-label" => "Close"} ×