/ header
.custom-top-header
  .sticky
    .row
      .small-12.columns
        .custom-container
          .row
            .small-12.columns
              %nav.top-bar.my-top-bar{:data => {:topbar=>"", :options=>""}, :role=>""}
                %ul.title-area
                  %li.name
                    %h1
                      %a{:href=>"#"} HuntJob
                  %li.toggle-topbar.menu-icon
                    %a{:href=>""}
                      %span
                %section.top-bar-section
                  %ul.right
                    %li.active
                      = link_to '<span class="fa fa-plus"></span>&nbsp;Post Project'.html_safe,new_project_path
                    %li.active
                      %a{:href=>'#'}
                        %span.fa.fa-folder-o
                        My Projects
                    %li.active
                      %a{:href=>'#'}
                        %span.fa.fa-book
                        Income
                    - if  not user_signed_in?
                      %li.sign-in
                        %a{:href=>"/users/sign_in"}
                          Sign In
                    - else
                      %li.sign-in
                        %a{:href=>"/users/sign_out"}
                          Sign Out
  /end header
= render 'dashboard/secondary_menu'