/ header
.sticky
  .contain-to-grid
    %nav.top-bar.my-top-bar{:data => {:topbar=>"", :options=>""}, :role=>""}
      %ul.title-area
        %li.name
          %h1
            %a{:href=>"#"} HuntJob
        %li.toggle-topbar.menu-icon
          %a{:href=>""}
            %span
      %section.top-bar-section
        %ul.right
          %li.active
            %a{:href=>'#'}
              %span.fa.fa-plus
              Post Project
          %li.active
            %a{:href=>'#'}
              %span.fa.fa-folder-o
              Browser Project
          %li.active
            %a{:href=>'#'}
              %span.fa.fa-book
              Income
          - if  not user_signed_in?
            %li.sign-in
              %a{:href=>"/users/sign_in"}
                Sign In
          - else
            %li.sign-in
              %a{:href=>"/users/sign_out"}
                Sign Out
/end header
= render 'dashboard/secondary_menu'